body{
    background: #2f4f4f;
}

h1{
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: center;
}


h2{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
}

